--extra-index-url https://download.pytorch.org/whl/cu118

ultralytics>=8.2.0
torch>=2.5.0
torchvision>=0.20.0
opencv-python-headless==4.8.1.78

fastapi==0.104.1
uvicorn[standard]==0.24.0.post1
python-multipart==0.0.6
pydantic>=2.5.0,<3.0.0

maturin>=0.14.0
setuptools-rust>=1.5.0
